<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheets" href="./css/styles.css">
        
    </head>

     <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}

    </body>
</html>